*{
  margin: 0px;
  padding: 0px; 
}

body{
  background-color: black;
}

.center{
    margin: 0 auto;
    display: table;
}

#yuvarlak {
    border-radius: 100%;
    width: 60px;
    height: 60px;
    margin: 60px auto 80px auto;
    position: relative;
    color: black;
    z-index: 10;
}

#icerik {
    z-index: 3;
    position: relative;
    background: linear-gradient(90deg, rgba(255,169,249,1) 10%, rgba(255,247,173,1) 90%);
    width: 125px;
    height: 125px;
    border-radius: 100%;
    color: white;
    top: -40px;
    left: -40px;
    overflow: hidden;
    transition: all .3s;
    transform: scale(0.5) rotate(270deg);

}

.carpi {
    display: block;
    width: 42px;
    height: 42px;
    position: relative; 
    background-color: #ffffff;
    border-radius: 100%;
    left: 2px;
    top: 44px;
    cursor: pointer;
    transition: all .3s;
}

.carpi:before {
    content: "";
    position: absolute;
    width: 2px;
    height: 32px;
    background: #5D5D5D;
    top: 5px;
    left: 20px;
}

.carpi:after {
    content: "";
    position: absolute;
    width: 32px;
    height: 2px;
    background: #5D5D5D;
    left: 5px;
    top: 20px;
}

.a,
.b,
.c,
.d {
    position: absolute;
    font-size: 25px;
    opacity: 0;
}

.a {
    top: 5px;
    left: 50px;
}

.b {
    top: 50px;
    left: 5px;
}

.c {
  left: 92px;
  top: 50px;
  font-size: 22px;
}

.d {
  top: 95px;
  left: 52px;
  font-size: 23px;
}

.icon{
    text-decoration: none;
    color: white;
}

#yuvarlak:hover > #icerik {
    transform: scale(1);
  transform: rotate(0);
}

#yuvarlak:hover > #icerik span {
    opacity: 1;
}

#yuvarlak:hover > .carpi {
    transform: rotate(135deg);
}

#yuvarlak:hover > .carpi:before, #yuvarlak:hover > .carpi:after {
    background: #4C8BCA;
}


#codery {
    display: inline-block;
    padding: 10px 15px;
    text-align: center;
    color: white;
    border: 2px solid #fff;
}

#codery:hover {
    border: 2px dotted #fff;
}

#icerik a:hover > span {
    color: yellow;
}

body{
  background-color: black;
}




@font-face {
  font-family: "Tittle";
  src: url('../fonts/Nickainley-Normal.otf');
}

@font-face {
  font-family: "Role";
  src: url('../fonts/Montserrat-Light.ttf');
}

@font-face {
  font-family: "Nixie";
  src: url('../fonts/NixieOne.ttf');
}

.tittle-container{ 
  margin: 0 auto;
  display: table;
  margin-top: 4%;
}

.tittle, .tittle-shadow{
  font-family: "Tittle";
}

a{
  color: white;
  font-size: 0.5em;
  font-weight: 500;
  position: absolute;
  letter-spacing: 0.2em;
}

.tittle{
  color: #93f2ff;
  position: absolute;
}

.tittle-shadow{
  color: #eee1e9;
  margin: 1%;
} 

.role-container{
  position: relative;
}

.role{ 
  font-weight: 600;
  color: white;
  font-family: 'Role';
  float: right;
}

.contact-area{
  color: white;
  font-family: 'Nixie';
  float: right;
}
 

.glow { 
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #851368e8, 0 0 20px #851368e8, 0 0 30px #851368e8, 0 0 40px #851368e8, 0 0 50px #851368e8, 0 0 60px #851368e8, 0 0 70px #851368e8;
  }
  to {
    text-shadow: 0 0 20px #851368e8, 0 0 30px #851368e8, 0 0 40px #851368e8, 0 0 50px #851368e8, 0 0 60px #851368e8, 0 0 70px #851368e8, 0 0 80px #851368e8;
  }
}


 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 10px) {
  .tittle-container{
    height: 243px;
  }

  .role{  
    padding-top: 4%;
  }

  .tittle{ 
    text-shadow: #851358e8 12px 6px 19px; 
    font-size: 7em; 
  }

  .tittle-shadow{
    text-shadow: #bf2799e8 0px 0px 33px;
    font-size: 7em; 
  }
  .role { 
    font-size: 11px;
  }
  .role-container { 
    padding-left: 56%;
  }
}



/* Small devices (portrait tablets and large phones, 399px and up) */
@media only screen and (min-width: 399px) {
  .tittle{ 
    text-shadow: #851358e8 7px 5px 18px; 
    font-size: 7em; 
  }

  .tittle-shadow{
    text-shadow: #bf2799e8 7px 5px 18px;
    font-size: 7em; 
  }
  .role-container { 
    padding-left: 62%;
  }
.role { 
  font-size: 10px;
}
} 

/* Small devices (portrait tablets and large phones, 500px and up) */
@media only screen and (min-width: 500px) {
  .contact-area{
    bottom: 5%;
    right: 6%;
    position: absolute;
  }

  .role{
    font-size: 13px;
    font-weight: 600;
    color: white;
  }
  .tittle{ 
    text-shadow: #851358e8 12px 6px 19px; 
    font-size: 10em; 
  }

  .tittle-shadow{
    text-shadow: #bf2799e8 0px 0px 33px;
    font-size: 10em; 
  }
} 

/* Medium devices (landscape tablets, 768px and up) -- responsive */
@media only screen and (min-width: 768px) {
  .tittle-container{
    height: 383px;
  }
  .tittle{ 
    text-shadow: #851358e8 12px 6px 19px; 
    font-size: 12em; 
  }

  .tittle-shadow{
    text-shadow: #bf2799e8 0px 0px 33px;
    font-size: 12em; 
  }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) { 
  .tittle-container{
    height: 425px;
  }
 
  .tittle{ 
    text-shadow: #851358e8 12px 6px 19px; 
    font-size: 14em; 
  }

  .tittle-shadow{
    text-shadow: #bf2799e8 0px 0px 33px;
    font-size: 14em; 
  }

  .role{
    padding-top: 1%;
    font-size: 16px;
  }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) { 
  .tittle-container{
    height: 457px;
  }

  .tittle{ 
    text-shadow: #851358e8 12px 6px 19px; 
    font-size: 14em; 
  }

  .tittle-shadow{
    text-shadow: #bf2799e8 0px 0px 33px;
    font-size: 14em; 
  }

  .role{ 
    font-size: 17px;
  }
}  